/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #0c0c0c; 
    background-color: #ffffff; 
    overflow-x: hidden;
}

.heading {
    background-color: rgb(251, 254, 255);
    color: rgba(3, 3, 3, 0.877);
    box-shadow: 0 2px 3px rgb(3, 3, 3);
    padding: 20px;
    margin-bottom: 5%;
}
.heading h1 {
    font-size: 3rem;
}

.content {
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
     position: relative;
    z-index: 1;
}
.card-grid {
    background-color: rgb(253, 252, 252);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(8, 8, 8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center; 
}
.card-grid:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(4, 175, 243, 0.932);
}

.card-grid h1 {
    font-size: 2.5rem;
    color: #d9534f; /* Error color */
    margin-bottom: 20px;
}

.card-grid p {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #050505;
}

/* Light Mode */
.dark-mode {
    background-color: rgb(5, 5, 5);
    color: #f1ecec;
}
.dark-mode .heading {
    background-color: #0c0c0ce1;
    color: #ffffff;
}
.dark-mode .content {
    background-color: rgb(7, 7, 7);
    color: #fcf7f7;
}
.dark-mode .card-grid p{
    color: #030303; /* Text color in dark mode */
}
.dark-mode .card-grid h1 {
    color: #fa8072; /* Lighter error color in dark mode */
}

/* Links */
a {
    color: #3498db; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content {
        padding: 20px;
    }

    .heading h1 {
        font-size: 3.2rem;
    }

    .card-grid h1 {
        font-size: 2rem;
    }

    .card-grid p {
        font-size: 1.5rem;
    }
}